<nav>
    <div class="hamburger">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </div>
    <ul class="nav-links">
        <li><a href="#home">Home</a></li>
        <li><a href="#country">Country</a></li>
        <li><a href="#news">NEWS</a></li>
    </ul>
</nav>